Package: blocky-keenetic
Version: VERSION
Depends: libc
Section: net
Architecture: ARCH
Maintainer: 0xERR0R <https://github.com/0xERR0R/blocky>
Source: https://github.com/0xERR0R/blocky
License: MIT
Description: Fast and lightweight DNS proxy as ad-blocker for local network with many features