Package: blocky-keenetic
Version: VERSION
Section: net
Architecture: ARCH
Maintainer: lastbyte32 <https://github.com/lastbyte32/blocky-keenetic>
Source: https://github.com/0xERR0R/blocky
License: MIT
Description: Fast and lightweight DNS proxy as ad-blocker for local network with many features